include README.md

include setup.py
include setup.cfg
include tox.ini
include requirements.txt
include requirements-test.txt
include requirements-dev.txt
include LICENSE
recursive-include src *.py

prune env
prune venv
prune .tox
prune tests
